<h3>Products</h3>

<div class="row">
  <div id="masonry-container" class="transitions-enabled clearfix">
  <% @products.each do |product| %>
    <div class="box col3">
      <!-- <div class="card">
        <div class="card-content"> -->

          <h4><%= product.name %></h4>
          <p><%= link_to "Details", product_path(product), :class => "btn", remote: true%></p>
          <p id=<%="product#{product.id}"%> style="display: none;"><%= product.description %></p>
          <p><%= number_to_currency product.price %></p>
          <%= form_for @order_item,  remote: true do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <div class="row">
            <div class="col s2">
              <%= f.number_field :quantity, min: 1, value: 1, placeholder: "Oops, breaks if you don't add input!" %>
            </div>
            <div class="col s6">
              <span class="waves-effect waves-light btn-small"><%= f.submit "Add to cart" %></span>
            </div>
          <!-- </div>
        </div> -->
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
